<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="shortcut icon" href="{% static 'core' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'core' %}">
    <title>Maintenance Mode</title>
</head>
<body>
    <div >
        <h1>We'll be back soon!</h1>
        <p>Our website is currently undergoing maintenance. We are working hard to improve our services for you.</p>
        <p>Please check back later.</p>
        <div >
            <p>&copy; All rights reserved.</p>
        </div>
    </div>
</body>
</html>