{% extends 'core/index.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'core/css/post.min.css' %}"/>
{% endblock script %}

{% block title %} {{ course.seoT|default:course.title }} {% endblock title %}
{% block metatags %}
<meta name="description" content="{{ course.seoD|default:course.intro_txt|safe  }}">
<meta name="keywords" content="{{ course.seoK }}">
<!-- Open Graph Tags -->
<meta property="og:title" content="{{ course.get_meta_tags.og.title }}">
<meta property="og:description" content="{{ course.get_meta_tags.og.description|safe  }}">
<meta property="og:image" content="{{ course.get_meta_tags.og.image }}">

<!-- Twitter Card Tags -->
<meta name="twitter:title" content="{{ course.get_meta_tags.twitter.title }}">
<meta name="twitter:description" content="{{ course.get_meta_tags.twitter.description }}">

{% endblock metatags %}

{% block content %}
<header >
    <div >
        <div >
            <ul >
                <li >
                    <a href="{% url 'core:home' %}" >Home</a>
                </li>

                <li >
                    <a href="{% url 'course:courses-list' %}" >Courses</a>
                </li>

                <li >{{ object.title }}</li>
            </ul>
        </div>
    </div>
</header>
<!-- post content start -->
<main>
    <div >
        <div >
            <div >
                <div >
                    <a  href="#" data-bs-toggle="collapse"
                       data-bs-target="#sidebar">
                        <i ></i>
                        All
                    </a>
                </div>

            </div>
            <aside  id="sidebar">
                <div >
                    <h4 >All Categories:</h4>
                    <ul >

                        {% for category in categories %}
                        <li >
                            <a  href="{% url 'core:filter' category.slug %}">
                                <span >
                                    <i ></i>
                                </span>
                                <span >{{ category}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div >
                    <h4 >Top Rated Courses : </h4>
                    <ul >
                        {% for course in top_rated_courses %}
                        <li >
                            <div >
                                <picture>
                                    <source data-srcset="" srcset=""/>
                                    {% if course.image %}
                                    <img  data-src="{{ course.image.url }}" src="{{ course.image.url }}"
                                         alt="media"/>
                                    {% else %}
                                    <img  data-src="{% static 'core/img/placeholder.jpg' %}"
                                         src="{% static 'core/img/placeholder.jpg' %}" alt="Placeholder Image"/>
                                    {% endif %}
                                </picture>
                            </div>
                            <div >
                                <a  href="{% url 'course:course-detail' slug=course.slug %}">
                                    {{ course.title }}
                                </a>
                                <ul >
                                    <li >
                                        <i ></i> {{ course.created_at | date:"b , Y" }}
                                    </li>

                                    <li >
                                        <i > Rating: {{ course.avg_rating|floatformat:1 }}
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <section >
                <article >
                    <div >
                        <h2 >{{ course.title }}</h2>
                        <div >
                            <picture>
                                <source data-srcset="" srcset=""/>
                                {% if course.image %}
                                <img  data-src="{{ course.image.url }}" src="{{ course.image.url }}"
                                     alt="media"/>
                                {% else %}
                                <img  data-src="{% static 'core/img/placeholder.jpg' %}"
                                     src="{% static 'core/img/placeholder.jpg' %}" alt="Placeholder Image"/>
                                {% endif %}
                            </picture>
                        </div>
                        <ul >
                            <li >
                                <i ></i> {{ course.created_at | date:"b , Y" }}
                            </li>
                            <li ><i ></i>
                                <a href="{% url 'core:profile-overview' course.teacher %} ">teacher :
                                    {{ course.teacher }}
                                </a>
                            </li>



                        </ul>
                    </div>
                    <div 
                         style="overflow-wrap: break-word; word-wrap: break-word;white-space: normal;max-width: 100%;">
                        {{ course.description | safe}}
                    </div>
                    <br><br>
                    <!-- Video Section -->
                    <div >

                        <h4 >Course Videos : </h4>
                        <br>


                        {% for video in course.videos.all %}
                        <br><br>
                        <div >
                            <video style="margin: auto"
                                   {% if video.thumbnail %}
                                    poster="{{ video.thumbnail.url }}"
                                   {% endif %}
                                   width="100%" height="400" controls controlslist="nodownload">
                                <source src="{{ video.video_file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>



                            <br>
                            <br>
                            <h4>{{ video.title }}</h4><br>
                            {% if video.description %}
                            <p>{{ video.description| safe }}</p>
                            {% endif %}
                        </div>
                        <br><br><br>
                        {% empty %}
                        <br>
                        <p>No videos available for this course.</p>
                        <br>
                        {% endfor %}
                        <br>
                    </div>

                </article>
                <section >
                    {% if similar_courses %}
                    <div >
                        <h4 >You might also like</h4>
                        <div >
                            {% for course in similar_courses %}
                            <div >
                                <div >
                                    <picture>
                                        <source data-srcset="img-large.jpg 1200w, img-medium.jpg 800w, img-small.jpg 400w"
                                                srcset="img-small.jpg" media="(max-width: 600px)">
                                        <source data-srcset="img-large.jpg 1200w, img-medium.jpg 800w, img-small.jpg 400w"
                                                srcset="img-medium.jpg" media="(max-width: 960px)">
                                        {% if course.image %}
                                        <img  data-src="{{ course.image.url }}"
                                             src="{{ course.image.url }}" alt="media"/>
                                        {% else %}
                                        <img  data-src="{% static 'core/img/placeholder.jpg' %}"
                                             src="{% static 'core/img/placeholder.jpg' %}" alt="Placeholder Image"/>
                                        {% endif %}
                                    </picture>
                                </div>
                                <div >
                                    <h5>{{ course.title }} : </h5>
                                    <a  href="{% url 'course:course-detail' slug=course.slug %}">
                                        {{ course.description | truncatewords:12| safe }}
                                    </a>
                                    <ul >
                                        <li >
                                            <i ></i> {{ course.updated_at }}
                                        </li>
                                        <li >
                                            <a href="{% url 'core:profile-overview' course.teacher %} ">
                                                <i ></i> {{ course.teacher }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div >
                        <a href="{% url 'core:profile-overview' course.teacher %} ">
                            <div >
                                <picture>

                                    {% if course.teacher.user.profile.image %}
                                    <img  data-src="{{ course.teacher.user.profile.image.url }}"
                                         src="{{ course.teacher.user.profile.image.url }}" alt="media"/>

                                    {% else %}
                                    <img  data-src="{% static 'core/img/user-default-image.png' %}"
                                         src="{% static 'core/img/user-default-image.png' %}" alt="Placeholder Image"/>
                                    {% endif %}
                                </picture>
                            </div>
                        </a>
                        <div >
                            <span >Teacher</span>
                            <h4 >
                                <a href="{% url 'core:profile-overview' course.teacher %} ">{{ course.teacher.user }}
                                </a>
                            </h4>
                            {% if course.teacher.user.profile.bio %}
                            <p >
                                {{ course.teacher.user.profile.bio }}
                            </p>
                            {%endif %}
                            <ul >
                                <li >
                                    <a  href="{{ course.teacher.facebook_address }}" target="_blank"
                                       rel="noopener noreferrer">
                                        <i ></i>
                                    </a>
                                </li>
                                <li >
                                    <a  href="{{ course.teacher.youtube_address }}" target="_blank"
                                       rel="noopener noreferrer">
                                        <i ></i>
                                    </a>
                                </li>
                                <li >
                                    <a  href="{{ course.teacher.linkedin_address }}" target="_blank"
                                       rel="noopener noreferrer">
                                        <i ></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section >

                    <div>
                        <h2>Average Rating</h2>
                        <br>
                        <div>
                            {% for i in "12345" %}
                            {% if i|add:0 <= average_rating %}
                            <span ><i ></i></span>
                            {% else %}
                            <span ><i ></i></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <p>Average Rating: {{ average_rating|default:"No ratings yet" }}</p>
                    </div>

                    <br>
                </section>
                {% if not user_rating %}
                <section >
                    <h2>Rate this Course : </h2>
                    {% if rating_form.errors %}
                    <div >
                        <ul>
                            {% for field, errors in rating_form.errors.items %}
                            {% for error in errors %}
                            <li> {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <form method="POST" id="ratingForm">
                        {% csrf_token %}
                        <div  id="starRating">
                            <span data-value="5" >★</span>
                            <span data-value="4" >★</span>
                            <span data-value="3" >★</span>
                            <span data-value="2" >★</span>
                            <span data-value="1" >★</span>
                        </div>
                        <input type="hidden" name="score" id="ratingInput" value="">
                        <input type="hidden" name="rating_form">
                        <br>
                        <button  type="submit">Submit</button>
                    </form>

                </section>
                {%else %}
                <br>
                <button  type="submit">
                    <a href="{% url 'account_login' %}" > Please log in first </a>
                </button>
                {%endif%}
                {%else %}
                <br/>
                <h4> You Rate This Course "{{user_rating.score}}" Stars</h4>

                <br>{%endif%}
                <br>
                <br>
                <br>

                <section >
                    <h3 > Leave a Comment:</h3>
                    {% if user.is_authenticated %}
                    {% if comment_form.errors %}
                    <div >
                        <ul>
                            {% for field, errors in comment_form.errors.items %}
                            {% for error in errors %}
                            <li > {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form  action="{% url 'course:course-detail' object.slug %}"
                          method="post" data-type="reply">
                        {% csrf_token %}
                        <input type="hidden" name="comment_form"/>
                        {{comment_form.text}}
                        <button  type="submit">
                            <span >Submit Comment</span>
                        </button>
                    </form>
                    {% else %}
                    <button  type="submit">
                        <a href="{% url 'account_login' %}" > Please login </a>
                    </button>
                    {%endif%}
                </section>
                <section >
                    <h4 >Recent comments:</h4>
                    <ul >
                        {% for comment in comments %}
                        <div >
                            <a href="{% url 'core:profile-overview' course.teacher %} ">
                                <div >
                                    <picture>
                                        <source data-srcset="" srcset=""/>
                                        {% if comment.user.profile.image %}
                                        <img  data-src="{{ comment.user.profile.image.url }}"
                                             src=""
                                             alt="media"/>
                                        {% else %}
                                        <img  data-src="{% static 'core/img/user-default-image.png' %}"
                                             src="" alt="Placeholder Image"/>
                                        {% endif %}
                                    </picture>
                                </div>
                            </a>

                            <div >
                                <a href="{% url 'core:profile-overview' course.teacher %} ">
                                    <h4 >{{ comment.user.username}}</h4>
                                </a>
                                <p >
                                    {{ comment.text }}
                                </p>
                                <ul >
                                    <li >
                                        <i >

                                        </i> {{ comment.submit_date | date:"b , Y"}}

                                    </li>
                                </ul>
                            </div>

                        </div>
                        {% endfor %}
                    </ul>
                </section>
        </div>
    </div>
    </div>
    <!-- subscribe section start -->
    <section >
        <div >
            <div ></div>
        </div>
    </section>
    <!-- subscribe section end -->
</main>
<!-- post content end -->
{% endblock content %}
